.advantages {
  display: block;
  margin-top: 16px;
  margin-bottom: 60px;

  &__slide-card {
    border-radius: 40px;
    background: linear-gradient(
        327deg,
        #5877fe 0%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(35deg, #c2fff8 0%, #fff 100%);
    height: 262px;
    position: relative;
    display: flex;
    align-items: end;
    overflow: hidden;
  }

  &__card-imgs {
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__card-img {
    object-fit: contain;
  }

  &__slide-text-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }

  &__slide-title {
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
    margin-bottom: 8px;
  }

  &__slide-text {
    color: var(--dark, #525252);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
  }
}
