.banner {
  display: block;
  padding-top: 14px;
  padding-bottom: 44px;

  &__swiper {
    height: 356px;
    position: relative;
  }

  .swiper-pagination.swiper-pagination-bullets {
    top: calc(356px + 16px) !important;
  }

  .swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    opacity: 0.4000000059604645 !important;
    background: rgba(40, 40, 40, 0.5) !important;
    margin: 0 9px !important;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #2a5cf6 !important;
    opacity: 1 !important;
  }

  &__slide-wrapper {
    height: 356px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__slide-container {
    width: 72%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
  }

  &__text-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    color: #5c71b2;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
  }

  &__list {
    list-style-type: disc;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__list-item {
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.1px;
  }

  &__button {
    width: 206px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 11.5px 24px;
    text-align: center;
    border-radius: 61px;
    background: linear-gradient(17deg, #9e0caa 0%, #242aff 42.32%, #23fbe1 100%),
      linear-gradient(45deg, #0634fd 0%, #00fcde 48.44%, #ec34fe 94.79%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) inset;
  }
}
