.nav {
  width: 100vw;

  &__top {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }

  &__top-links {
    display: flex;
    justify-content: start;
    height: 40px;
    align-items: center;
  }

  &__top-link {
    display: block;
    padding-left: 40px;

    a {
      text-decoration: none;
      color: #282828;
      font-weight: 400px;
    }
  }

  &__top-socials {
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__bottom {
    padding-top: 14px;
    padding-bottom: 14px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(25px);
  }

  &__bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .catalog-btn {
    cursor: pointer;
    display: flex;
    width: 176px;
    padding: 10px 24px 10px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(
      --blue-linear,
      linear-gradient(23deg, #2a5cf6 0%, #2a5cf6 0.01%, #7191f4 100%)
    );
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) inset;

    &__text {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.1px;
    }
  }

  .search {
    cursor: pointer;
    display: flex;
    padding: 2px 16px 2px 2px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 56px;
    background: var(
      --blue-linear,
      linear-gradient(23deg, #2a5cf6 0%, #2a5cf6 0.01%, #7191f4 100%)
    );

    &__input {
      outline: none;
      border: 0;
      display: flex;
      padding: 9px 22px 8px 24px;
      align-items: flex-start;
      gap: 10px;
      flex: 1 0 0;
      border-radius: 58px;
      background: #fff;
    }

    &__btn {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.1px;
    }
  }

  &__bottom-buttons {
    display: flex;
    align-items: flex-start;
    gap: 9px;
    opacity: 0.8;
  }

  &__bottom-button {
    a {
      text-decoration: none;
      display: flex;
      width: 76px;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      text-align: center;
    }

    &-icon {
      color: #282828;
      margin: 0 auto;
    }

    &-text {
      color: #282828;
    }
  }
}
