.products {
  .container {
    box-sizing: content-box;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;

    @media (max-width: 767px) {
      padding: 0;
      overflow: visible;
    }
  }

  &__section-title-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 28px;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &__section-title-bold {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__section-title-slash {
    color: #a9a9a9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
  }

  &__section-title-all-products {
    color: #a9a9a9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__swiper {
    margin-bottom: -20px;
    position: relative;

    @media (max-width: 863px) {
      margin-bottom: 40px;
    }
  }

  .swiper-slide {
    min-height: 662px;

    @media (max-width: 536px) {
      display: block;
      min-height: 457px;
    }
  }

  &__card {
    border-radius: 40px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: white;
      box-shadow: 10px -10px 34px 0px rgba(6, 52, 253, 0.12),
        0px 10px 33px 0px rgba(0, 252, 222, 0.12),
        -10px 0px 33px 0px rgba(236, 52, 254, 0.12);

      .products__main-info {
        height: 100%;
        opacity: 1;
      }

      .products__cart-btn {
        opacity: 1;
      }
    }
  }

  &__img-container {
    position: relative;
    max-width: 100%;
    border-radius: 40px;
    margin-bottom: 12px;
  }

  &__img {
    border-radius: 40px;
    object-fit: cover;
    width: 100%;
    max-height: 349px;
  }

  &__favorite-btn {
    position: absolute;
    top: 16px;
    right: 17px;
    cursor: pointer;

    img {
      object-fit: contain;

      @media (max-width: 536px) {
        height: 23px;
        width: 23px;
      }
    }
  }

  &__in-stock-info {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 32px;
    padding: 4px;
    background: #f5f8ff;
    color: #2a5cf6;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;

    @media (max-width: 536px) {
      display: block;
    }
  }

  &__info-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @media (max-width: 536px) {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__price-mobile {
    display: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding-top: 12px;

    @media (max-width: 863px) {
      display: block;
    }

    @media (max-width: 536px) {
      font-size: 16px;
    }
  }

  &__main-info {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 0;
    opacity: 0;

    @media (max-width: 863px) {
      height: 100%;
      opacity: 1;
    }

    @media (max-width: 536px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__info-variants-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.1px;

    @media (max-width: 536px) {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.1px;
      padding-bottom: 10px;
    }
  }

  &__info-variants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__info-variant {
    padding: 4px 6px;
    border-radius: 34px;
    border: 1px solid transparent;
    background: #eee;
    color: #525252;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 1px solid #2a5cf6;
      background: #f5f8ff;
      color: #2a5cf6;
    }

    @media (max-width: 536px) {
      font-size: 10px;
    }
  }

  &__price-container {
    display: flex;
    padding-bottom: 12px;
    align-items: center;
  }

  &__price {
    width: 50%;
    color: #282828;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 863px) {
      display: none;
    }
  }

  &__cart-btn-container {
    display: flex;
    justify-content: end;

    @media (max-width: 863px) {
      width: 100%;
    }
  }

  &__cart-btn {
    display: flex;
    opacity: 0;
    padding: 10px 18px 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 47px;
    background: linear-gradient(
      17deg,
      #9e0caa 0%,
      #242aff 42.32%,
      #23fbe1 100%
    );
    box-shadow: 0px 0px 20px 0px rgba(42, 92, 246, 0.3);
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 863px) {
      opacity: 1;
      width: 100%;
    }

    @media (max-width: 536px) {
      span {
        display: none;
      }
    }
  }

  .swiper-button-next {
    right: -20px;
    border-radius: 50%;
    outline: none;
    border: 0;
    filter: none !important;
    color: #282828;
    width: 40px;
    height: 40px;
    box-shadow: none;

    @media (max-width: 863px) {
      display: none;
    }
  }

  .swiper-button-next.swiper-button-disabled {
    display: none;
  }

  .swiper-button-next::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../assets/icons/arrow-right.svg");
    background-position: center;
    box-shadow: none;
  }

  .swiper-button-prev {
    left: -20px;
    border-radius: 50%;
    outline: none;
    border: 0;
    filter: none !important;
    color: #282828;
    width: 40px;
    height: 40px;
    box-shadow: none;
    transform: rotate(180deg);

    @media (max-width: 863px) {
      display: none;
    }
  }

  .swiper-button-prev.swiper-button-disabled {
    display: none;
  }

  .swiper-button-prev::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../assets/icons/arrow-right.svg");
    background-position: center;
    box-shadow: none;
  }
}
